<div class="card">
  @if (editMode && productEdit) {
    <div class="card-body" >
      <h5 class="card-title">Editing</h5>
      <div class=" list-group list-group-flush">
        <label class="list-group-item">Image:
          <input class="card-text" type="text" [(ngModel)]="productEdit.img" />
        </label>
        <label class="list-group-item">Name:
          <input class="card-text" type="text" [(ngModel)]="productEdit.name" />
        </label>
        <label class="list-group-item">Category:
          <input class="card-text" type="text" [(ngModel)]="productEdit.category" />
        </label>
        <label class="list-group-item">Price:
          <input class="card-text" type="number" [(ngModel)]="productEdit.price" />
        </label>
        <label class="list-group-item">Discount:
          <input class="card-text" type="number" [(ngModel)]="productEdit.discount" />
        </label>
        <label class="list-group-item">Count:
          <input class="card-text" type="number" [(ngModel)]="productEdit.count" />
        </label>
      </div>
    </div>
  } @else {
    <div (click)="handleOpenCard()" class="card-body">
      <img alt="product image" src="{{ product.img }}" class="img card-img-top" />
      <h5 class="card-title">Name: {{ product.name }}</h5>
      <div class="card-text">Category: {{ product.category }}</div>
      <div class="card-text">Price: {{ product.price }}</div>
      <div class="card-text">Discount: {{ product.discount }}</div>
      <div class="card-text">Count: {{ product.count }}</div>
    </div>
  }
  
  @if (canEdit) {
    @if (editMode) {
      <button (click)="handleEditCancel()" class="btn btn-outline-warning ">Cancel</button>
      <button (click)="handleUpdate()" class="btn btn-outline-warning ">Update</button>
    } @else {
      <button (click)="handleEdit()" class="btn btn-outline-warning ">Edit</button>
      <button (click)="handleDelete()" class="btn btn-outline-danger ">Delete</button>
    }
  }
</div>
